<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="StringConexao" value="Server=localhost;Port=5433;User Id=postgres;Password=diogo300689;Database=consultorio;CommandTimeout=3000" />
    <!--  <add key="StringConexao" value="Server=localhost;Port=5432;User Id=postgres;Password=deus10;Database=milhao;CommandTimeout=3000"/> -->
    <!--<add key="StringConexao" value="Server=192.168.1.6;Port=5432;User Id=postgres;Password=deus10;Database=milhao;CommandTimeout=3000"/>  Servidor-->
    <add key="Schema" value="consultorio"/>

  </appSettings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.5.2">
        <assemblies>
          <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.5.2" />
      <globalization enableClientBasedCulture="false" culture="pt-BR" uiCulture="pt-BR" />
      <pages enableEventValidation="false" enableViewStateMac="false" enableSessionState="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="Static">
       
      </pages>
    </system.web>
</configuration>